.awesone{
    &-wrap{
        text-align: center;
        margin-top: 43px;
    }
    &-img{
        text-align: center;
    }
    &-title{
        color: #ff6d6d;
        margin-bottom: 10px;
        font-size: 16px;
        letter-spacing: 3px;
        font-family: 'Exo', sans-serif;
    }
   &-desc{
        font-size: 40px;
        font-family: 'Exo', sans-serif;
        margin-bottom: 30px;

    }
    &-text{
        font-family: "Exo", sans-serif;
        font-size: 16px;
        color:#8b8b8e;
        max-width: 619px;
        line-height: 24px;
        margin-left: 247px;
        margin-bottom: 63px;
    }
    @media(max-width:768px){
        .awesone-text {
            margin-left: 0px;
        }
     }
 
}