.design{
   background-color: #ffff;
    &-left{
        padding-bottom: 190px;
        padding-top: 175px;
        padding-left: 52px;
    @media (max-width: 767px) {
        padding-bottom: 104px;
        padding-top: 79px;
        }
    }
   &-title {
    color: #ff6d6d;
    margin-bottom: 6px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2.5px;
    font-family: "Exo", sans-serif;
    }
        &-text {
        margin-top: 37px;
        color:#8b8b8e;
        font-family: "Exo", sans-serif;
        font-size: 16px;
        line-height: 1.7;
        max-width: 548px;
    }
   &-dots{
    color:#ff6d6d;
    }

    &-desc {
        letter-spacing: 0.6px;
        font-family: "Exo", sans-serif;
        font-size: 40px;
        max-width: 535px;
        line-height: 1.5;
        font-weight: 500;
    }
    &-text p:first-child {
        margin-bottom: 10px;
    }
    &-img{
        overflow: hidden;
        background-image: url(./image/img.png);
        width: 100%;
        height: 100%;
        background-size: cover;
        &::before {
            content: "";
            background: red;
            width: 144%;
            height: 57%;
            display: block;
            position: relative;
            right: 29px;
            bottom: -442px;
            transform: rotate(319deg);
            opacity: 0.5;
        }
        @media (max-width: 767px) {
            min-height: 127vw;
                &::before{
                    display: block;
                    content: "";
                    background: red;
                    width: 177%;
                    height: 73%;
                    display: block;
                    position: relative;
                    right: 29px;
                    bottom: -481px;
                    transform: rotate(322deg);
                    opacity: 0.5;
            }
        }
    }
    &-col-right{
        padding: 0px !important;
        @media (max-width: 767px) {
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%
        }
    }
    &-col-left{
        @media (max-width: 767px) {
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%
        }
        @media (min-width: 768px) {
            padding-left: 5%;
        }
        @media (min-width: 992px) {
            padding-left: 3%;
        }
        @media (min-width: 1200px) {
            padding-left: 6%;
        }
    }
}
