.feature{
    background-image: url(./image/image.png);
    background-repeat: no-repeat;
    padding-top: 111px;
    padding-bottom: 123px;
    background-position: center;
    background-size: cover;
    z-index: 1;
    object-fit: cover;
    position: relative;
    &-header{
        padding-top: 134px;
        text-align: center;
    }
    &-heading{
        color:#ff6d6d;
        font-family: 'Exo', sans-serif;
        font-size: 16px;
    }   
   &-title {
        font-size: 40px;
        font-weight: 500;
        padding-bottom: 123px;
        font-family: "Exo", sans-serif;
    }
    &-text{
        font-size: 22px;
        font-family: 'Exo', sans-serif;
        font-weight: 300;
        text-align: center;
        margin-bottom: 10px;
    }
    &-desc{
        font-family: 'Exo', sans-serif;
        font-size: 16px;
        text-align: center;
    }
    &-icon {
        padding-bottom: 22px;
    }
    &-icon-gap{
    text-align: center;
    }
    }