.header{
        // background: transparent;
        z-index: 1;
        position: relative;
        background-image: url(./image/header.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding-top: 158px;
        padding-bottom: 243px;
        &-title {
                font-family: 'Exo', sans-serif;
                text-align: center;
                font-size: 4em;
                font-weight: 100;
                max-width: 718px;
                margin: 0 auto;
                line-height: 1.5;
            }
        &-img {
                border-radius: 71%;
                overflow: hidden;
                width: 60px;
                margin: 26px auto;
                height: 60px;
                display: flex;
                align-items: center;
                margin-bottom: 18px;
                justify-content: center;
        }
           &-text{
                color:#8b8b8e;
                text-align: center;
                font-size: 14px;
                font-family: "Exo", sans-serif;
                margin-top: -24px;
                margin-left: -4px;
                letter-spacing: 0.3px;  
        }
           &-icon {
            background-color: #8185a3;
            padding: 23px;
        }  
        &-try {
                padding-top: 38px;
                padding-bottom: 58px;
                text-decoration: none !important;
                text-align: center;
        }
        &-click{
                font-size: 16px;
                text-decoration: none;
                font-family: "Exo", sans-serif;
                color: white;
                background-color: #ff6d6d;
                padding: 14px 51px;
                letter-spacing: 2.4px;
        }
}