.resposi{
    padding-top: 81px;
    overflow: hidden;
    position: relative;
    padding-bottom: 73px;
    &::before {
        content: "";
        background: red;
        width: 59%;
        height: 110%;
        display: block;
        position: absolute;
        left: -270px;
        bottom: -188px;
        transform: rotate(228deg);
        opacity: 0.5;
    }
   
    &-title{
        color: #ff6d6d; 
        margin-bottom: 10px;
        font-size: 16px;
        font-family: 'Exo', sans-serif;
    }
    &-desc{
        font-size: 40px;
        font-weight: 400;
        font-family: 'Exo', sans-serif;
        line-height: 45px;
    }
    &-dots{
        color: #ff6d6d; 
    }
   &-img {
        margin-left: -58px;
      
    }
    @media(max-width:768px){
       .col-reposive{
        flex: 0 0 100%;
        max-width: 100%;
       }
    }
}
