.resposi{
    padding-top: 81px;
    padding-bottom: 73px;
    &-title{
        color: #ff6d6d; 
        margin-bottom: 10px;
        font-size: 16px;
        font-family: 'Exo', sans-serif;
    }
    &-desc{
        font-size: 40px;
        font-weight: 400;
        font-family: 'Exo', sans-serif;

    }
   
    &-dots{
        color: #ff6d6d; 
    }
 
}
