@media (max-width:1449px) {

    .over{
        &-days {
            right: 189px;
        }
    }

}
@media (max-width:1200px) {
    .header{

        &-title {
            font-size: 4em;
            max-width: 718px;
            margin-left: 99px;
        }
    }
    .responsi{
        &::before {
            content: "";
            background: red;
            width: 59%;
            height: 110%;
            display: block;
            position: absolute;
            left: -320px;
            bottom: 26px;
            transform: rotate(228deg);
            opacity: 0.5;
        }
    }
    .over{
        &-main{
            display: block;
        }
    }
    .design{
        &::before {
            content: "";
            background: red;
            width: 144%;
            height: 57%;
            display: block;
            position: relative;
            right: -8px;
            bottom: -486px;
            transform: rotate(319deg);
            opacity: 0.5;
        }
    }
    .footer{
        &-input {
            padding: 8px 45px 8px 19px;
        }
        &::before{
            display: block;
        }
    }
}
@media(max-width:1191px){
    .over-form {
        margin-left: -48px;
        gap: 14px;
    }
}
@media(max-width:1175px){
    .header{
        &-title {
            font-size: 5em;
            max-width: 976px;
            margin-left: -12px;
        }
    }
}
@media(max-width:1008px){
    // .over .my-input {
    //     padding: 1px 36px 1px 32px;
    // }
    .over-form {
        margin-left: -32px;
        gap: 9px;
    }
    .over-days {
        right: 28px;
        top: 156px;
    }
}
@media (max-width: 992px) {
    .header{
        &-title {
        font-size: 3em !important;
        max-width: 709px;
        margin-left: 11px;
    }
    }
    .over .my-input {
        color: #9092a7;
        background: #464c77;
        border-radius: 2px;
        border: 1px solid #999cb4;
        padding: 12px 39px 15px 18px;
    }
 
    .over-form {
        margin-left: -108px;
        gap: 9px;
    }
}
@media(max-width:962px){
    .header{
        &-title {
            font-size: 3em;
            margin-left: 11px;
        }
    }
    .over-form {
        margin-left: -107px;
        gap: 9px;
    }
}

@media(max-width:826px) {
    .header-title {
        font-size: 3em;
        margin-left: -25px;
    }
}
@media (max-width: 767px) {
    .header{
        &-title {
            font-size: 2em;
        max-width: 718px;
        margin-left: -4px;
        }
    }
    .resposi{
        &-wrap{
            flex-direction: column;
        }
    }
    .over{
        &-main{
            display: block;
        }
    }
    .over-form {
        margin-left: 7px;
        gap: 9px;
    }
    .over-days{
        display: none;
    }
    .footer{
        &-input {
            padding: 8px 45px 8px 19px;
        }
        &::before{
            display: block;
        }
    }
}

@media(max-width:540px){
    .header{
        &-title {
        font-size: 2em;
        max-width: 703px;
        margin-left: -7px;
    }
    }
    
}
@media(max-width:451px){
    .design{
        &-img::before {
             content: "";
             background: red;
             width: 144%;
             height: 65%;
             display: block;
             position: relative;
             right: 12px;
             bottom: -228px;
             transform: rotate(319deg);
             opacity: 0.5;
         }
     }
     .resposi{
        &::before {
            content: "";
            background: red;
            width: 64%;
            height: 112%;
            display: block;
            position: absolute;
            left: -270px;
            bottom: 30px;
            transform: rotate(228deg);
            opacity: 0.5;
        }
     }
     .over-days {
        right: 168px;
    }
}