.user{
    padding-top: 108px;
    background-image: url(./image/backgroud.png);
    &-title{
        color: white;
        font-family: 'Exo', sans-serif;
        text-align: center;
        margin-bottom: 10px;
    }
    &-desc{
        color:#ff6d6d;
        font-family: 'Exo', sans-serif;
        font-size: 22px;
        text-align: center;
        margin-bottom: 10px;

    }
    &-text{
        color: white;
        font-size: 16px;
        text-align: center;
        font-family: 'Exo', sans-serif;
        padding-bottom: 96px;
    }
    &-img{
        text-align: center;
        margin-bottom: 10px;
    }
    &-icon{
        text-align: center;
        padding-bottom: 77px;

    }
}
