html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  line-height: 1;
}

img {
  max-width: 100%;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.row-no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.col, [class*=col-] {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}

.col-1 {
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-8 {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-11 {
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

input {
  color: white;
}

.d-flex {
  display: flex;
}

.flex-align {
  display: flex;
  align-items: center;
}

.relative {
  position: relative;
}

.header {
  z-index: 1;
  position: relative;
  background-image: url(./image/header.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 158px;
  padding-bottom: 243px;
}
.header-title {
  font-family: "Exo", sans-serif;
  text-align: center;
  font-size: 60px;
  font-weight: 100;
  max-width: 718px;
  margin-left: 174px;
  line-height: 1.5;
}
.header-img {
  border-radius: 71%;
  overflow: hidden;
  width: 60px;
  margin: 26px auto;
  height: 60px;
  display: flex;
  align-items: center;
  margin-bottom: 18px;
  justify-content: center;
}
.header-text {
  color: #8b8b8e;
  text-align: center;
  font-size: 14px;
  font-family: "Exo", sans-serif;
  margin-top: -24px;
  margin-left: -4px;
  letter-spacing: 0.3px;
}
.header-icon {
  background-color: #8185a3;
  padding: 24px;
}
.header-try {
  padding-top: 38px;
  padding-bottom: 58px;
  text-decoration: none !important;
  text-align: center;
}
.header-click {
  font-size: 16px;
  text-decoration: none;
  font-family: "Exo", sans-serif;
  color: white;
  background-color: #ff6d6d;
  padding: 14px 51px;
  letter-spacing: 2.4px;
}

.design {
  background-color: white;
}
.design-left {
  padding-bottom: 190px;
  padding-top: 175px;
  padding-left: 52px;
}
.design-title {
  color: #ff6d6d;
  margin-bottom: 6px;
  font-size: 16px;
  letter-spacing: 2.5px;
  font-family: "Exo", sans-serif;
}
.design-text {
  margin-top: 37px;
  color: #8b8b8e;
  font-family: "Exo", sans-serif;
  font-size: 16px;
  line-height: 30px;
  max-width: 548px;
}
.design-dots {
  color: #ff6d6d;
}
.design-desc {
  letter-spacing: 0.6px;
  font-family: "Exo", sans-serif;
  font-size: 40px;
  max-width: 535px;
  line-height: 50px;
  font-weight: 500;
}
.design-img {
  overflow: hidden;
  background-image: url(./image/img.png);
  width: 100%;
  height: 100%;
  background-size: cover;
}
.design-img::before {
  content: "";
  background: red;
  width: 144%;
  height: 55%;
  display: block;
  position: relative;
  right: 29px;
  bottom: -460px;
  transform: rotate(319deg);
  opacity: 0.5;
}
@media (max-width: 767px) {
  .design-img {
    min-height: 104vw;
  }
  .design-img-img::before {
    display: block;
  }
}
.design-col-right {
  padding: 0px !important;
}
@media (max-width: 767px) {
  .design-col-right {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (max-width: 767px) {
  .design-col-left {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .design-col-left {
    padding-left: 5%;
  }
}
@media (min-width: 992px) {
  .design-col-left {
    padding-left: 3%;
  }
}
@media (min-width: 1200px) {
  .design-col-left {
    padding-left: 6%;
  }
}

.feature {
  background-image: url(./image/image.png);
  background-repeat: no-repeat;
  padding-top: 111px;
  padding-bottom: 123px;
  background-position: center;
  background-size: cover;
  z-index: 1;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}
.feature-header {
  padding-top: 11px;
  text-align: center;
}
.feature-content {
  margin-bottom: 85px;
}
.feature-wrap {
  display: flex;
}
.feature-heading {
  color: #ff6d6d;
  font-family: "Exo", sans-serif;
  font-size: 16px;
}
.feature-title {
  font-size: 40px;
  font-weight: 500;
  padding-bottom: 123px;
  font-family: "Exo", sans-serif;
}
.feature-text {
  font-size: 22px;
  font-family: "Exo", sans-serif;
  font-weight: 500;
  text-align: center;
  margin-bottom: 10px;
}
.feature-desc {
  font-family: "Exo", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #8b8b8e;
  text-align: center;
}
.feature-icon {
  padding-bottom: 22px;
}
.feature-icon-gap {
  text-align: center;
}

.resposi {
  padding-top: 81px;
  overflow: hidden;
  position: relative;
  padding-bottom: 73px;
}
.resposi::before {
  content: "";
  background: red;
  width: 59%;
  height: 110%;
  display: block;
  position: absolute;
  left: -270px;
  bottom: -188px;
  transform: rotate(228deg);
  opacity: 0.5;
}
.resposi-title {
  color: #ff6d6d;
  margin-bottom: 10px;
  font-size: 16px;
  font-family: "Exo", sans-serif;
}
.resposi-desc {
  font-size: 40px;
  font-weight: 400;
  font-family: "Exo", sans-serif;
  line-height: 45px;
}
.resposi-dots {
  color: #ff6d6d;
}
.resposi-img {
  margin-left: -58px;
}

.user {
  padding-top: 108px;
  background-image: url(./image/backgroud.png);
}
.user-title {
  color: white;
  font-family: "Exo", sans-serif;
  text-align: center;
  margin-bottom: 10px;
}
.user-desc {
  color: #ff6d6d;
  font-family: "Exo", sans-serif;
  font-size: 22px;
  text-align: center;
  margin-bottom: 10px;
}
.user-text {
  color: white;
  font-style: italic;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  font-family: "Exo", sans-serif;
  padding-bottom: 96px;
}
.user-img {
  text-align: center;
  margin-bottom: 10px;
}
.user-icon {
  text-align: center;
  padding-bottom: 77px;
}

.awesone-wrap {
  text-align: center;
  margin-top: 43px;
}
.awesone-img {
  text-align: center;
}
.awesone-title {
  color: #ff6d6d;
  margin-bottom: 10px;
  font-size: 16px;
  font-family: "Exo", sans-serif;
}
.awesone-desc {
  font-size: 40px;
  font-family: "Exo", sans-serif;
  margin-bottom: 30px;
}
.awesone-text {
  font-family: "Exo", sans-serif;
  font-size: 16px;
  color: #8b8b8e;
  max-width: 619px;
  line-height: 24px;
  margin-left: 247px;
  margin-bottom: 63px;
}

.over {
  background-color: #323969;
  padding-top: 90px;
  padding-bottom: 85px;
  position: relative;
}
.over-days {
  display: flex;
  align-items: center;
  position: absolute;
  right: 230px;
  bottom: 180px;
}
.over-link {
  color: #fff;
}
.over-text {
  color: #fff;
  margin-top: -28px;
  font-family: "Exo", sans-serif;
  text-decoration: none;
}
.over-sub-title {
  color: #ff6d6d;
  margin-bottom: 15px;
  text-align: center;
  letter-spacing: 3px;
  font-size: 16px;
  font-family: "Exo", sans-serif;
}
.over-desc {
  margin-top: 23px;
  text-align: center;
  color: white !important;
  font-family: "Exo", sans-serif;
}
.over-title {
  font-size: 40px;
  text-align: center;
  margin-bottom: 55px;
  color: white !important;
  font-family: "Exo", sans-serif;
}
.over-form {
  gap: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.over .my-input {
  color: #9092a7;
  background: #464c77;
  border-radius: 2px;
  border: 1px solid #999cb4;
  padding: 15px 72px 15px 18px;
}
.over input ::-moz-placeholder {
  color: #9092a7;
}
.over input ::placeholder {
  color: #9092a7;
}
.over .btn-button {
  background-color: #ff6d6d;
  color: #fff;
  padding: 16px 84px;
  border: 0px solid #fff;
  font-family: "Exo", sans-serif;
  text-align: center;
  border-radius: 4px;
  text-decoration: none;
}

.footer {
  padding-top: 95px;
  padding-bottom: 100px;
  overflow: hidden;
  position: relative;
}
.footer::before {
  content: "";
  background: red;
  width: 84%;
  height: 166%;
  display: block;
  position: absolute;
  right: -911px;
  bottom: -153px;
  transform: rotate(226deg);
  opacity: 0.5;
}
.footer-main {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  gap: 50px;
}
.footer-heading {
  font-size: 22px;
  color: #282828;
  font-family: "Exo", sans-serif;
  margin-bottom: 47px;
  font-weight: 500;
}
.footer-link {
  text-decoration: none;
  list-style: none;
  font-family: "Exo", sans-serif;
  color: #8a8a8a;
  letter-spacing: 0.5px;
  font-weight: 400;
}
.footer-item {
  margin-bottom: 20px;
}
.footer ul.footer-listter {
  list-style: none;
}
.footer li.footer-itemm {
  margin-bottom: 12px;
}
.footer-input {
  padding: 20px 45px 23px 19px;
  border-radius: 2px;
  margin-top: -2px;
  font-family: "Exo", sans-serif;
  border: 1px solid #b8b8bf;
}
.footer-logo {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}
.footer-image {
  background: #ff6d6d;
  padding: 18px;
  margin-left: -4px;
  border-radius: 2px;
}
.footer input {
  background-color: #f6f6f6;
}
.footer-desc {
  line-height: 1.6;
  color: #8a8a8a;
  max-width: 264px;
  font-family: "Exo", sans-serif;
}
@media (max-width: 768px) {
  .header-title {
    font-size: 4em;
    max-width: 578px;
    margin-left: 3px;
  }
  .resposi-wrap {
    flex-direction: column;
  }
  .footer-input {
    padding: 8px 45px 8px 19px;
  }
  .footer::before {
    display: block;
  }
}
@media (max-width: 992px) {
  .header-title {
    font-size: 3em;
    max-width: 709px;
    margin-left: 11px;
  }
}
@media (max-width: 540) {
  .header-title {
    font-size: 2em;
    max-width: 703px;
    margin-left: -7px;
  }
}
@media (max-width: 1200px) {
  .header-title {
    font-size: 4em;
    max-width: 718px;
    margin-left: 99px;
  }
  .design::before {
    content: "";
    background: red;
    width: 144%;
    height: 55%;
    display: block;
    position: relative;
    right: -88px;
    bottom: -769px;
    transform: rotate(319deg);
    opacity: 0.5;
  }
  .footer-input {
    padding: 8px 45px 8px 19px;
  }
  .footer::before {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */